<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ artwork.title }}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="my-4">
            <img style="height: 400px; width: auto;" src="{{ artwork.image.url }}" class="img-fluid" alt="{{ artwork.title }}">
        </div>
        <h1 class="my-4">{{ artwork.title }}</h1>
        <p>{{ artwork.description }}</p>
        <p class="text-muted">Created at: {{ artwork.created_at }}</p>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
